.val{
	height: 100%;
	width: 90%;
	margin: 20px auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40vw, auto));
}

.val_item{
	border: 1px solid rgb(245, 92, 37);
	margin: 10px;
	height: 400px;
	overflow: hidden ;
}

.val_item_text{
	grid-area: text;
	background: gold;
}

.val_item_img{
	grid-area: img;
	background: pink;
}



@media only screen and (max-width: 957px) and (min-width: 720px) {
	
	.val{
		font-size: 13px;
	
	}  
}
@media only screen and (max-width: 720px){
	
	.val{
		font-size: 13px;
		grid-template-columns: 1fr;
		height: 100%;
		margin: 0 auto;
		gap: 15px;
	
	}  
	.val_item{

	height: 100%;
	

}
}



.val_img_block{
	overflow: hidden !important;	
}

.val_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in;
  grid-area: i;

}

.val_img:hover{
  scale: 1.06;
}

.val_subheader{
	font-weight: 700;
	margin: 20px 0;
	letter-spacing: 0.5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.val_text{
	padding: 30px 50px;
	text-align: left;
	line-height: 1.5;
}