.menu{
	width: 90%;
	height: 100%;
	margin: 0 auto;
	justify-content: center;
	gap: 20px;
	padding: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));

}


.dropdown{
  border-radius: 0;
  border: 0.5px solid rgb(84, 84, 84);
  padding: 5px 20px;
  height: 35px;
  letter-spacing: 0.8px;
  font-size: 13px;
}

.button{
	padding: 5px 30px;
	height: 35px;
	background: none;
	border: 0.5px solid rgb(84, 84, 84);
	letter-spacing: 0.5px;
	transition: all 0.5s ease-in;
}

.button:hover{
	color: #fff;
	border: 0.5px solid rgb(215, 93, 27);
	background:  rgb(215, 93, 27);
-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);


}

.dropdown{
	transition: all 0.5s ease-in;
}

.ant-dropdown-menu, .ant-dropdown-menu-item{
	border-radius: 0 !important;
}

.dropdown:hover{
	border: 0.5px solid rgb(215, 93, 27) !important;
	color: rgb(215, 93, 27) !important;

-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

}