.values{
	display: flex;
	flex-wrap: wrap;
}

.values_img{
	width: 49vw;
	height: 350px;
	object-fit: cover;
	margin-top: 3px;
	transition: all .5s ease-in;
	
}

.values_img:hover{
  scale: 1.04;
}

.values_img_block{
	position: relative;
	overflow: hidden;
}

.opacity{
	position: absolute;
	top: 0;
	left: 0;
	height: 350px;
	width: 49.5vw;
	z-index: 2;
	filter: brightness(1.75);

}

.opacity2{
	position: absolute;
	top: 0;
	left: 0;
	height: 350px;
	width: 50vw;
	z-index: 2;
	/* background: rgb(1, 23, 52);
	opacity: 0.08; */

	filter: brightness(0.8);
}

.values_item{
	border: 3px solid white;
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0;
}
.values_text{
	height: 183px;
	color: rgb(227, 225, 225);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;
	padding: 30px 30px;
	border: 3px solid white;
	background: #333333;
	color: #cfcccc;
	letter-spacing: 0.5px;
	font-size: 14px;
	line-height: 1.6;
	margin: 0;
}